/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App {
  background-color: rgb(245, 245, 245);
}
.App > .container {
  margin: 20px auto;
}
.navbar-dark {
  background-color: #006400;
}
.footer {
  padding: 0px auto 20px;
}

.card-title {
  font-weight: bold;
  font-size: 150%;
}
.card-text {
  margin-left: 1.25rem;
}
.button-custom {
  background-color: #006400;
  border: none;
}
.button-custom:hover {
  background-color: rgb(4, 170, 109);
}

a {
  color: #006400;
  font-weight: bold;
}

a:hover {
  color: rgb(4, 170, 109);
}
